<div class="container">
    <app-breadcrumb
        *ngIf="(getBreadCrumbData$| async) as breadCrumb"
        [breadcrumb]="breadCrumb">
    </app-breadcrumb>
    <div class="details" *ngIf="(getItemDetailsData$ | async) as details">
        <div class="info">
            <img [src]="details.picture" alt="details">
            <div class="description mt-30">
                <h2 class="regular">Descripción del producto</h2>
                <p class="semi-regular" [innerHTML]="details.description"></p>
            </div>
        </div>
        <div class="price">
            <span class="stock">{{ conditionStatus(details.condition) }} - {{ details.sold_quantity }} vendidos</span>
            <h2>{{ details.title }}</h2>
            <h1 class="semi-regular">${{ details.price.amount | currency:details.price.currency:'':'1.0-0' }}</h1>
            <button>Comprar</button>
        </div>
    </div>
</div>

<app-loader-screen *ngIf="getLoadScreen$ | async"></app-loader-screen>