.row, .form-row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    .col-1{
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
        @extend .extensive;
    }
    .col-2{
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
        @extend .extensive;
    }
    .col-3{
        flex: 0 0 25%;
        max-width: 25%;
        @extend .extensive;
    }
    .col-4{
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        @extend .extensive;
    }
    .col-5{
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
        @extend .extensive;
    }
    .col-6{
        flex: 0 0 50%;
        max-width: 50%;
        @extend .extensive;
    }
    .col-7{
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
        @extend .extensive;
    }
    .col-8{
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
        @extend .extensive;
    }
    .col-9{
        flex: 0 0 75%;
        max-width: 75%;
        @extend .extensive;
    }
    .col-10{
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
        @extend .extensive;
    }
    .col-11{
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
        @extend .extensive;
    }
    .col-12{
        flex: 0 0 100%;
        max-width: 100%;
        @extend .extensive;
    }
}

.extensive{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.container { 
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px;
}

