<div class="item-content">
    <img
        class="thumb pointer"
        src="http://http2.mlstatic.com/D_716505-MLA31597842150_072019-O.jpg"
        alt="item"
        [routerLink]="['/items', 32]">
    <div class="info mt-10">
        <h4 class="regular price pointer"
            [routerLink]="['/items', 32]">
            $19.000 <img src="./assets/img/shipping.png" alt="free_shipping">
        </h4>
        <p class="regular title pointer"
           [routerLink]="['/items', 32]">
           iPod Touch 32 Gb  representante Oficial De Apple
        </p>
    </div>
    <p class="location mt-25 regular">Capital federal</p>
</div>